body{
    background-color: rgba(255, 120, 30, 0.75);
    margin-right: auto;
}
a{
    font-weight: bold;
}
.face{
    color: darkorange;
}
.back{
    color:gray;
}
#icon{
    transition: all 300ms 0s ease;
}#icon:hover{
    transform: scale(1.1);
}
.show{
    color:black;
    margin-left: -5px;
    transition: all 300ms 0s ease;
}.show:hover{
    color:black;
    transform: translateX(5px);
}
.item{
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.item::after{
  position: absolute;
  bottom: 0px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: salmon;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform .7s;
}
.item:hover::after{
  transform-origin: left top;
  transform: scale(1, 1);
}
.social-icon{
    border-radius: 8px;
    padding: 8px;
    transition:all 300ms 0s ease;
}.social-icon:hover{
    transform: scale(1.2);
}
.social-link{
    list-style: none;
}
